.footer-container-text{
    font-size: 14px;
    color: #fff;
       
}
footer{
     background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
    height: 154px;
       display: flex;
       justify-content: center;
    align-items: center;
}
footer {
  position: relative;
  z-index: 1;
}


.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
   
}
