.sample-card{
    height: 478px;
    width: 424px;
         background-color: rgba(255, 255, 255, 0.1);
        border-radius: 25px;
}
.sample-card-title{
    color: #fff;
    font-size: 32px;
        margin: 0px;
        margin-bottom: 12px;
}
.sample-card-text{
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
        margin: 0px;

}
.sample-card-bottom{
   
padding: 30px;
}