.presentation-card{
    height: 536px;
    width: 424px;
         background-color: rgba(255, 255, 255, 0.1);
        border-radius: 25px;
           position: relative;
}
.presentation-card-title{
    color: #fff;
    font-size: 32px;
        margin: 0px;
        margin-bottom: 12px;
}
.presentation-card-text{
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
        margin: 0px;

}
.presentation-card-img{
    width: 424px;
    height: 243px;
    border: none;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.presentation-card-bottom{

padding: 32px 30px;
}
.presentation-card-button{
    top: 86%;
       position: absolute;
    background: linear-gradient(90deg, #2D1140 6%, #9F2EFD 68%);
  color: #fff;
  border: none;
  border-radius: 10px;
  max-width: 241px;
  width: 241px;
  padding: 14px 18px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-left: 30px;
}
.presentation-card-button:hover {
  filter: brightness(1.1);
  transform: translateY(-1px);
}